<footer id="footer">
    <div class="container">
        <div class="cols">
            <div class="col">
                <h3>Frequently Asked Questions</h3>
                <ul>
                    <li><a href="{% url 'ques'%}">Do you ship internationally?</a></li>
                    <li><a href="{% url 'ques'%}">How can I request a return authorization (Return Policy & Instructions)?</a></li>
                    <li><a href="{% url 'ques'%}">I did not receive my order confirmation email. Can you resend it to me?</a></li>
                </ul>
            </div>
            <div class="col media">
                <h3>Social media</h3>
                <ul class="social">
                    <li><a href="https://www.facebook.com" target="_blank"><span class="ico ico-fb"></span>Facebook</a></li>
                    <li><a href="https://www.twitter.com" target="_blank"><span class="ico ico-tw"></span>Twitter</a></li>
                    <li><a href="https://www.gmail.com" target="_blank"><span class="ico ico-gp"></span>Google+</a></li>
                    <li><a href="https://in.pinterest.com/" target="_blank"><span class="ico ico-pi"></span>Pinterest</a></li>
                </ul>
            </div>
            <div class="col contact">
                <h3>Contact us</h3>
                <p>The Jewelery Place INC.<br>Ghod dod Road<br>Surat</p>
                <p><span class="ico ico-em"></span><a href="https://www.gmail.com" target="_blank">contact@thejeweleryplace.com</a></p>
                <p><span class="ico ico-ph"></span>(+91) 99999 99999</p>
            </div>
            <div class="col newsletter">
                <h3>Join our newsletter</h3>
                <p>Join our newsletter to get update about new items and offers.</p>
                <form action="#">
                    <input type="text" placeholder="Your email address...">
                    <a href="{% url 'index'%}"></a><button type="submit"></button></a>
                </form>
            </div>
        </div>
        
        <p class="copy">  Copyright &copy; <span class="year"></span> The Jewelry Place. All rights reserved.</p>
    </div>
    <!-- / container -->
</footer>
<!-- / footer -->