{% extends 'base.html' %}{% block content %}

<div id="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="{% url 'index'%}">Home</a></li>
            <li>FAQs</li>
        </ul>
    </div>
    <!-- / container -->
</div>
<!-- / body -->

<div id="body">
    <div class="container">
        <div id="content" class="full">
            <h1>Frequently Asked Questions</h1>
            <div class="entry">
                <h2>1. Do you ship internationally?</h2>
                <p>Currently,  we do not ship  outside the United  States and  Canada nor do  we accept payment from foreign credit cards. If you are purchasing from TheJewelryPlace.com overseas, we recommend setting up an account with the freight forwarder of your choosing.</p>
               
                <h2>2. How can I request a return authorization (Return Policy & Instructions)?</h2>
                <p>You may request a return authorization through our website. You can also make your request by emailing 
                    service@ThejewelryPlace.com or calling us at 1-800-243-5555.</p>

                <h2>3. How can I request more information regarding a specific piece (Carat weight, metal weight, stone clarity, whether or not a gemstone is natural or created, measurements etc)?</h2>
                <p>If the information that you are looking for about an item is not included in the description on our website, you can submit a request through email or on the phone. We will do our best to accommodate your request as soon as possible, usually within the same day.</p>

                <h2>4. I did not receive my order confirmation email. Can you resend it to me?</h2>
                <p>An order confirmation email is system generated and automatically sent out once your order is approved. If you did not receive your email, please contact customer service and they will forward a copy to your confirmed email address</p>
            </div>

            
    
        </div>
        <!-- / content -->
    </div>
    <!-- / container -->
</div>
<!-- / body -->

{% endblock %}